h1 {
    color: goldenrod;
    background-color: black;
    font-style: italic;
}

body div {
    text-align: center;
}

ul {
    list_style_type: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
