h1 {
    color: goldenrod;
    background-color: black;
    font-style: italic;
}

body div {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

div {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    color: goldenrod;
    background-color: black;
    font-style: italic;
}
