body {
    margin: 0px;
    padding: 1.5px;
    font-family: 'Times New Roman', Times, serif;
}
 
.pages { 
    list-style-type: upper-roman; 
}

.families { 
    list-style-type: lower-alpha; 
}

.instruments { 
    list-style-type: lower-roman; 
}
